
@import "tailwindcss";

/* best practice */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

/* sharder styles */
 .flex {
    display: flex;
 }

/* Hero-section bg*/

.hero{
    min-width: 1920px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 760px;
    background: url("../assets/hero-bg.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* hero section inner  */

.hero-inner {
    min-width: 1920px;
    width: 100%;
    min-height: 760px;
    text-align: center;
    padding: 40px 16px;
    border: 3px solid red;
    justify-content: center;
    
}

.hero-inner .mic-wrapper {
    /* border: 3px solid red; */
    width: 350px;
    height: 350px;
    margin: 0 auto;
    margin-top: 60px;   
    display: block; 
}

.hero-inner .microfone {
    /* border: 5px dotted red; */
    margin: 0 auto;
    position: absolute;
    transform: translate(1030% , -150%);
}

.hero-inner .hero-button {
    /* border: 2px solid white; */
    width: 75px;
    height: 38px;
    background-color: #00FF88 ;
    padding: 8px 16px;
    font-weight: bolder;
    border-radius: 50px;
    transform: translate(130%, -880%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    cursor: auto;
    position: relative;

}

.hero-inner .hero-slogan h1{
    margin: 0 auto;

    font-size: 5rem;
    font-weight: 800;
    color: aliceblue;
}

.hero-inner .hero-slogan p{
    color: aliceblue;
    margin: 0 auto;
}

.hero-slogan .hero-slogan-btns{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    min-height: 44px;
    /* max-width: 400px; */
    gap: 8px;
    font-size: 16px;
    color: aliceblue;
    font-weight: bolder;
}

.hero-slogan-btns .btn-1{
    border: 2px solid green;
    max-width: 201px;
    min-height: 44px;
    align-items: center;
    gap: 10px;
    padding: 12.5px 20px 12.5px 20px ;
    border-radius: 50px;
}
